html * {
    line-height: 1;
    font-weight: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    background: #fff;
    margin: 0;
    padding: 0;
}

.top-bar {
    background-color: #dbeceb;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 9999;
    -webkit-backface-visibility: hidden;
    top: 0;
}

.top-bar .container {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
}

.top-bar .menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.top-bar .menu li {
    margin: 0;
    margin-right: 30px;
    padding: 0;
    display: inline-block;
}

.top-bar .menu li a {
    display: block;
    font-size: 11px;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 50px;
    text-decoration: none;
    color: #888;
    text-transform: uppercase;
}

.top-bar .menu li a:hover {
    color: #e7950b;
}

.menu .sub-menu {
    position: absolute;
    display: none;
    border: 1px solid #aaa;
    background-color: #f8f8f8;
    padding: 0;
}

.menu .sub-menu li {
    display: block;
}

.menu .sub-menu li a {
    padding: 15px;
    line-height: 1;

}

.menu li:hover .sub-menu {
    display: block;
}

header .site-logo a {
    display: block;
    width: 80%;
    margin: 0 auto;
    text-decoration: none;
    margin-top: 50px;
    padding-top: 30px;
}

header .site-logo img {
    max-width: 100%;
    height: auto;
    border: none;
    z-index: 1;
}

header .site-logo .blog-tagline {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: normal;
    color: #555;
    text-align: center;
    margin-top: -60px;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    padding: 4px 15px;
    text-shadow: 1px 1px 2px #fff;
    background-color: rgba(255, 255, 255, 0.6);
    position: relative;
    z-index: 99;
    letter-spacing: 2px;
}

p {
    line-height: 1.5em;
    margin: 4px 0 16px;
}

strong {
    font-weight: 600;
}

.container {
    width: 800px;
    margin: 20px auto;
}

.theme-masthead {
    margin-top: 80px;
    margin-bottom: 40px;
    text-align: center;
}

.theme-masthead .title h1 {
    font-size: 48px;
    font-weight: 300;
    line-height: 72px;
}

.theme-masthead .description h4 {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    line-height: 1.5em;

}

.masthead-thought .thought .title {
    font-size: 32px;
    font-weight: 300;
    color: #333;
    margin-bottom: 15px;
}

.masthead-thought .thought .content {
    font-size: 42px;
    font-weight: 300;
    line-height: 1.2em;
    color: #48759C;
}

.thought-wrapper {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 3px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.10);
    padding: 20px 15px;
    margin: 20px 0;
}

.thought-wrapper > .header {
    text-align: center;
}

.thought-wrapper .header h1 {
    font-weight: normal;
    color: #48759C;
}

.thought-wrapper .header .published .date {
    font-size: 12px;
    line-height: 28px;
    color: #aaa;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.thought-wrapper .header .verse {
    padding: 16px 40px;
}

.thought-wrapper.thought-full .header .verse {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin: 0 10px;
}

.thought-wrapper .header .verse .text {
    font-size: 14px;
    line-height: 1.6em;
    color: #777;
}

.thought-wrapper .header .verse .reference {
    margin-top: 4px;
}

.thought-wrapper .header .verse .reference p {
    font-size: 16px;
    color: #e89600;
    font-weight: 300;
    line-height: 1.5em;
    letter-spacing: 1px;
}

.thought-wrapper .navbar {
    margin-left: 10px;
    margin-right: 10px;
}

.thought-content {
    padding: 20px 10px;
}

.thought-content p {
    font-size: 16px;
    line-height: 1.6em;
    margin-bottom: 18px;
    font-weight: 300;
}

.navbar {
    display: block;
    background: #fff;
    z-index: 99;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

ul {
    margin: 0;
    padding: 0;
}

.navbar-list {
    list-style: none;
}

.navbar-list.right-align {
    text-align: right;
}

.navbar-item {
    display: inline-block;
}

.navbar-item.left-align {
    display: block;
    float: left;
}

.navbar-link {
    line-height: 40px;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    margin-right: 8px;
    text-decoration: none;
    color: #444;
}

.navbar-link.social {
    font-size: 16px;
}

.navbar-list.right-align .navbar-link {
    margin-right: 0;
    margin-left: 8px;
}

.navbar-list.right-align .left-align .navbar-link {
    margin-right: 8px;
    margin-left: 0;
}

.share-via {
    color: #999;
    font-weight: bold;
}

a {
    transition: color 200ms ease;
}

a:hover {
    color: #0fa0ce;
}

.site-footer {
    font-size: 12px;
}

.copyright {
    margin-top: 30px;
    color: #aaa;
    text-align: center;
}

.gw-verse {
    color: #2F888F;
    font-weight: 300;
    line-height: inherit;
}

.gw-verse .reference-holder {
    margin-left: 6px;
}

.reference-holder .reference {
    font-weight: 300;
    color: #e89600;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.reference-holder .reference::before {
    content: '[';
    display: inline;
    color: #ccc;
    margin-right: 1px;
}

.reference-holder .reference::after {
    content: ']';
    display: inline;
    color: #ccc;
    margin-left: 1px;
}

@media only screen and (max-device-width: 700px) {
    .container {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .theme-masthead {
        margin-top: 20px;
    }

    .theme-masthead .title h1 {
        font-size: 32px;
    }

    .theme-masthead .description h4 {
        font-size: 18px;
    }

    .thought-wrapper {
        padding-bottom: 4px;
        text-align: left;
    }

    .thought-wrapper > .header {
        text-align: left;
    }

    .thought-wrapper .header .published .date {
        font-size: 11px;
        line-height: 18px;
        margin-bottom: 4px;
    }

    .thought-wrapper .header h1 {
        font-size: 20px;
        font-weight: 300;
        line-height: 1.4em;
        margin-bottom: 10px;
    }

    .thought-wrapper .header .verse {
        padding: 10px 0;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
    }

    .thought-wrapper .header .verse .text {
        font-size: 12px;
        line-height: 1.6em;
    }

    .thought-wrapper .header .verse .reference p {
        font-size: 12px;
        line-height: 18px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .navbar {
        border-top: none;
        border-bottom: none;
    }

    .thought-wrapper .navbar {
        margin: 0;
    }
}
